@font-face {
    font-family: 'Agrandir';
    src: url('../fonts/Agrandir.otf') format('opentype');
  }
  
* {
    font-family: Agrandir;
}

#formToPrint {
    background-color: white;
    color: black;
}

#formToPrint p {
    font-size: 1rem;
    margin: 0.5rem 0;
}

.nyli-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
  
.nyli-logo img {
    width: 250px;
    height: auto;
    margin: 20px;
}

.center {
    margin: auto;
    width: 90%;
    padding: 15px;
}

@media print {
    #formToPrint {
        margin: 0;
        padding: 0;
    }

    .disaggregated-data-table {
        page-break-inside: auto; /* Prevent breaking within the table */
    }

    tr {
        page-break-inside: avoid; /* Prevent breaking within table rows */
        page-break-after: auto; /* Control page breaks after table rows */
    }
}