:root {
    --login_color: #fff;
}

[data-theme="dark"] {
    --login_color: #000;
}

@media (max-width: 767px) {
    .ls-row1 {
        order: 2 !important;
    }
    .ls-row2 {
        order: 1 !important;
    }
    .container .login-forms .login-col {
        height: 100%;
        display: flex;
        align-content: center;
        justify-content: center;
    }
    .container .login-forms .login-col img {
        object-fit: contain;
        height: 50%;
        width: 50%;
        padding: 25px 0;
        display: flex;
        align-content: center;
        justify-content: center;
    }
}
  
.ls-row1 {
    order: 1;
}

.ls-row2 {
    order: 2;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    
    background: url('../images/Negrosanon-bg.png')no-repeat;
    background-position: center;
    background-size: cover;
}

.container {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-forms {
    box-sizing: border-box;
    background-color: white;
    box-shadow: 0 0 5px rgba(145, 142, 142, 0.5);
    padding: 10px 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    width: 750px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.login-col img {
    object-fit: contain;
    height: 100%;
    width: 100%;
    padding-right: 30px;
}

.form-box{
    width: 100%;
    /* background-color: blueviolet; */
    padding: 35px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-h2{
    font-size: 2em;
    text-align: center;
}

.login-h2::before {
    content: "Sign ";
    color: #ACCF4F;
  }
  
.login-h2::after {
    content: "In";
    color: #106544;
}

.forgotpass-h2{
    font-size: 2em;
    text-align: center;
}

.forgotpass-h2::before {
    content: "Forgot ";
    color: #ACCF4F;
  }
  
.forgotpass-h2::after {
    content: "Password";
    color: #106544;
}

.inputbox{
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid #106544;
}
.inputbox label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #106544;
    font-size: 1em;
    pointer-events: none;
    transition: .5s;
}
input:focus ~ label,
input:valid ~ label{
top: -5px;
}
.inputbox input {
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    font-size: 1em;
    padding:0 35px 0 5px;
    color: #ACCF4F;
    height: 45px;
}

.inputbox i{
    position: absolute;
    top: 12.5px;
    left: 0;
    color: #ACCF4F;
    font-size: 1.2em;
}

.forget{
    margin: -15px 0 15px ;
    font-size: .9em;
    color: #ACCF4F;
    display: flex;
    justify-content: space-between;  
}

.forget label input{
    margin-right: 3px;
    
}
.forget label a{
    color: #ACCF4F;
    text-decoration: none;
}
.forget label a:hover{
    text-decoration: underline;
}
.login-btn{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    background: #ACCF4F;
    color: var(--login_color);
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    margin: 15px 0;
    transition: 0.3s;
}
.login-btn:hover{
    background: #96b445;
    transition: 0.3s;
}
.login-btn-main{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    background: #ACCF4F;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    margin: 15px 0;
    transition: 0.3s;
}
.login-btn:hover{
    background: #96b445;
    transition: 0.3s;
}
.register{
    font-size: .9em;
    color: black;
    text-align: center;
    margin: 25px 0 10px;
}
.register p a{
    text-decoration: none;
    color: black;
    font-weight: 600;
}
.register p a:hover{
    text-decoration: underline;
}

.button-class-test {
    width: 1000px;
    height: 1000px;
    
}

.remember-me {
    height: 20px;
    margin: -20px 0 10px 0; 
}

.remember-me-txt {
    color: #2E6347;
    padding-left: 5px;
}
.forgot-password-txt {
    color: #2E6347;
    text-decoration: none;
    text-align: center;
    transition: 0.5s;
}

.forgot-password-txt:hover {
    color: #ACCF4F;
    transition: 0.5s;
}