.list-group-item {
    display: flex; /* Use flexbox to align items */
    justify-content: space-between; /* Space between the label and the checkbox */
    align-items: center; /* Center vertically */
    padding: 10px; /* Add some padding */
    cursor: pointer; /* Change cursor to pointer */
}

.checkbox-circle {
    width: 24px; /* Size of the circular checkbox */
    height: 24px;
    border: 2px solid #000000; /* Border color */
    position: absolute;
    right: 15px;
    border-radius: 50%; /* Circular shape */
    background-color: white; /* Background color */
    display: inline-block; /* Make it inline */
    transition: background-color 0.3s; /* Smooth transition for background */
}

.checkbox-circle.checked {
    background-color: #28a745; /* Green background when checked */
    border-color: #28a745; /* Green border when checked */
}

.checkbox-circle.checked::after {
    content: '✓'; /* Checkmark character */
    color: white; /* Checkmark color */
    font-size: 16px; /* Checkmark size */
    position: absolute;
    right: 5px; /* Adjust for the checkmark position */
    bottom: 7.5px;
    transform: translateY(50%);
}

.modal {
    position: absolute;
    float: left;
    left: 50%;
    top: 50%;
    margin-top: 10%;
}