.list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

.checkbox-circle {
    width: 24px;
    height: 24px;
    border: 2px solid #000000;
    position: absolute;
    right: 15px;
    border-radius: 50%;
    background-color: white;
    display: inline-block;
    transition: background-color 0.3s;
}

.checkbox-circle.checked {
    background-color: #28a745; /* Green background when checked */
    border-color: #28a745; /* Green border when checked */
}

.checkbox-circle.checked::after {
    content: '✓'; /* Checkmark character */
    color: white; /* Checkmark color */
    font-size: 16px; /* Checkmark size */
    position: absolute;
    right: 5px; /* Adjust for the checkmark position */
    bottom: 7.5px;
    transform: translateY(50%);
}

.modal {
    position: absolute;
    float: left;
    left: 50%;
    top: 50%;
    margin-top: 10%;
}