:root {
  --button-text_color: #fff;
  --label_color: #000;
  --sidebar_background: #fff;
  --sidebar_boxshadow: lightgray;
  --sidebar_text: #106544;
  --card-custom_background: #fff;
  --card-menu_background: #fff;
  --card-table_background: #fff;
  --body-container_background: #F8F9FA;
  --activity-code-txt_color: #106544;
  --activity-name-txt_color: #000;
  --input-text_background: #fff;
  --input-text_border: #939393;
  --input-text_color: #000;
  --header_color: #106544;
  --modal-header_color: #106544;
  --react-select_background: #fff;
  --react-select_border: #939393;
  --react-select_color: #000;
  --react-select_border-focus: #ACCF4F;
  --react-select_option-select: #fff;
  --textbox_background: #fff;
  --textbox_color: #000;
  --indicator-data_background: #fff;
  --indicator-data_border: #939393;
  --indicator-data_color: #000;
  --show-page-number_color: #000;
  --tab-header_color: #939393;
  --nav-item_color: #106544;
  --nav-item_background: rgba(217, 212, 212, 0.3);
  --scroll-thumb: #888;
  --scroll-background: #555;
}

[data-theme="dark"] {
  --button-text_color: #000;
  --label_color: #fff;
  --sidebar_background: #1f252d;
  --sidebar_boxshadow: #191e24;
  --sidebar_text: #fff;
  --card-custom_background: #1f252d;
  --card-menu_background: #1f252d;
  --card-table_background: #1f252d;
  --body-container_background: #282f39;
  --activity-code-txt_color: #fff;
  --activity-name-txt_color: #fff;
  --input-text_background: #383e47;
  --input-text_border: #383e47;
  --input-text_color: #fff;
  --header_color: #fff;
  --modal-header_color: #fff;
  --react-select_background: #383e47;
  --react-select_border: #383e47;
  --react-select_color: #fff;
  --react-select_border-focus: #ACCF4F;
  --react-select_option-select: rgb(43, 47, 54);
  --textbox_background: #383e47;
  --textbox_color: #fff;
  --indicator-data_background: #383e47;
  --indicator-data_border: #191e24;
  --indicator-data_color: #fff;
  --show-page-number_color: #fff;
  --tab-header_color: #1f252d;
  --nav-item_color: #ACCF4F;
  --nav-item_background: rgba(199, 196, 196, 0.3);
  --scroll-thumb: #121519;
  --scroll-background: #0e1014;
}

* {
  transition: all 0.3s ease-in-out;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar {
  width: 12.5px;
  height: 12.5px;
}

::-webkit-scrollbar-corner {
  background: var(--sidebar_background);
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--sidebar_background);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--scroll-thumb);
  border-radius: 5px;
  transition: 0.3s ease-in-out;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--scroll-background);
  transition: 0.3s ease-in-out;
}

.react-select-container {
  .react-select__control {
    background-color: var(--react-select_background);
    width: 100%;
    height: 2.5em;
    border: 1px solid var(--react-select_border);
    border-radius: 5px;
    box-shadow: none;
    transition: 0s;
  }
  .react-select__control:hover {
    border: 1px solid var(--react-select_border-focus);
    transition: border 0.3s;
  }
  .react-select__control:focus-within {
    border: 1px solid var(--react-select_border-focus);
    transition: border 0.3s;
  }
}

.react-select-container {
  .react-select__single-value {
    color: var(--react-select_color);
  }
}

.react-select-container {
  .react-select__menu-list {
    background-color: var(--react-select_background);
    color: var(--react-select_color);
  }
}

.react-select__menu-list .react-select__option--is-focused {
  background-color: var(--react-select_option-select); /* Change the background color to your desired color */
}

.react-select__menu-list .react-select__option--is-selected {
  background-color: #ACCF4F;
  color: var(--button-text_color);
}
/* Container-fluid */

.container-fluid {
  display: flex;
  flex-direction: column;
  overflow-y: auto;

}

.body-container {
  background-color: var(--body-container_background);
}

label {
  color: var(--label_color);
}

/* styles.css */
@media (max-width: 576px) {
  .navbar {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    position: relative;
  }
  .navbar .navbar-brand {
    margin-left: 0px;
  }
  .navbar .navbar-brand img {
    left: 0;
  }
  .navbar .nav-right {
    margin-top: 10px;
    margin-right: 0px;
  }
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100px;
  width: 100%;
  justify-content: space-between;
}

.navbar-brand {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  margin-left: 50px;
  z-index: 999;
}

.navbar-brand img {
  height: 70px;
  width: auto;
  display: block;
  margin: 0;
}

.navbar-brand {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}

.user-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: auto;
}

.user-name {
  font-size: 12px;
  padding-right: 10px;
}

.nav-right {
  margin-left: auto;
  margin-right: 30px;
}


/* Sidebar styles */

@media (max-width: 1200px) {
  .sidebar-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 1000px !important;
    position: relative;
  }
  .sidebar-container .sidebar {
    width: 100%;
    overflow: hidden;
    background-color: var(--sidebar_background);
    bottom: 0;
    height: 50px;
    z-index: 999;
    color: var(--sidebar_text);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 7.5px 7.5px 7.5px 7.5px var(--sidebar_boxshadow);
  }
  .sidebar-container .sidebar .nav-item{
    width: 14.5vw;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .sidebar-container .sidebar p {
    display: none;
    margin: 0;
    padding-left: 10px;
  }
  .sidebar-container .sidebar .sidebar-elements {
    display: flex;
    flex-direction: row;
  }
  .sidebar-container .sidebar .nav-item{
    display: flex;
    font-weight: 600;
    text-decoration: none;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
  }
  .sidebar-container .sidebar .nav-item img {
    margin-right: 0;
  }
  .sidebar-container .sidebar .project-sub-item {
    padding: 0;
    margin: 0;
    border: 0;
    align-items: center;
    justify-content: center;
  }
  .main-content {
    margin-bottom: 30px;
  }
}

.sidebar-elements {
  display: flex;
  flex-direction: column;
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
}

.sidebar {
  left: 0;
  width: 16.66666667%;
  height: 100%;
  z-index: 999;
  position: fixed;
  color: var(--sidebar_text);
  background-color: var(--sidebar_background);
}

.sidebar .nav-item{
  display: flex;
  color: var(--sidebar_text);
  font-weight: 600;
  text-decoration: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  align-items: center;
}

.navbar .nav-item{
  color: var(--sidebar_text);
  font-size: 12px;
  font-weight: 600;
  text-decoration: none;
  padding: 7px 15px;
  display: flex;
  align-items: center;
  flex-direction: row;
  white-space: nowrap;
}

.navbar .nav-item:hover {
  background-color: var(--nav-item_background);
}

.navbar .nav-item i{
  height: 12px;
  width: 12px;
  margin-right: 10px;
}

.project-sub-item {
  margin-left: 25px;
  border-left: 1px solid rgb(202, 202, 202);
}

.sidebar p {
  margin: 0;
  padding-left: 10px;
}

.sidebar .nav-item img {
  height: 20px;
  width: 20px;
  margin-right: 5px;
  transition: 0.3s ease-in-out;
}

.sidebar .nav-item:hover {
  background-color: var(--nav-item_background);
  color: #ACCF4F;
  transition: 0.15s ease-in-out;
}

.active {
  background-color: var(--nav-item_background);
  color: #ACCF4F !important;
}

/* Main content styles */

.main-content {
  min-height: 90vh;
  padding: 20px 20px;
  width: 100% !important;
  box-shadow: inset 0px 0px 10px 5px var(--sidebar_boxshadow);
}

.col-xl-10 {
  padding: 0 0 !important;
}

/* Header Styles */

.header {
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}

.header h2 {
  color: var(--header_color);
  font-weight: 600;
}

/*  Datatable Styles */

.datatable {
  padding: 20px;
  width: 100%;
}

.datatable table {
  margin: 10px 0;
}

.datatable-header {
  display: flex;
  width: 100%;
}

.sort-columns {
  margin-left: 20px;
}


table {
  width: 100%;
  margin: 0;
  padding: 0;
  cursor: pointer;
  table-layout: fixed;
}

table th {
  text-align: left;
}

.textbox {
  height: 2.5em;
  padding: 0 10px;
  border: 1px solid #939393;
  border-radius: 5px;
  outline-color: transparent;
  outline-style: solid;
  outline-width: 1px;
  color: var(--textbox_color);
  background-color: var(--textbox_background);
}

.textbox:focus {
  border: 1px solid #ACCF4F;
  transition: 0.3s ease-in-out;
  outline-color: #ACCF4F;
  outline-style: solid;
  outline-width: 1px;
}

.textbox-page {
  height: 2.5em;
  padding: 0 10px;
  border: 1px solid transparent;
  outline-color: transparent;
  outline-style: solid;
  outline-width: 1px;
  color: #106544;
  font-size: 22.5px;
  font-weight: 600;
  background-color: transparent;
}

.textbox-page:focus {
  border: 1px solid #ACCF4F;
  transition: 0.3s ease-in-out;
  outline-color: #ACCF4F;
  outline-style: solid;
  outline-width: 1px;
}

select option {
  background-color: var(--textbox_background);
}

select option:hover {
  background-color: var(--react-select_border-focus);
}
.pagination {
  padding: 5px;
  border-radius: 5px;
  float: right;
  outline-color: #A3C639;
  height: 2.5em;
  color: var(--show-page-number_color);
}

.search-btn {
  padding: 0 10px;
  border-radius: 5px;
  float: right;
  height: 2.5em;
  border: 1px solid #939393;
  border-radius: 5px;
  outline-color: var(--react-select_border);
  background-color: var(--textbox_background);
  color: var(--textbox_color);
}

.search-btn:focus {
  border: 1px solid #ACCF4F;
  transition: 0.3s ease-in-out;
  outline-color: #ACCF4F;
  outline-style: solid;
  outline-width: 1px;
}

.row-count {
  text-align: center;
}

.form-rows {
  padding-bottom: 30px;
}

/* Active Menu */

.tab-header {
  border-bottom: 3px solid var(--tab-header_color);
  transition: 0.3s;
}

.tab-header i {
  color: var(--sidebar_text);
}

.tab-header span {
  color: var(--sidebar_text);
}

.active-menu {
  border-bottom: 3px solid #A3C639;
  color: #106544;
  transition: 0.3s;
}

.display-content {
  display: block;
}

.tab-content {
  display: none;
}

/* Create Forms */

.create-forms,
.card-custom {
  box-sizing: border-box;
  background-color: var(--card-custom_background);
  box-shadow: 0 0 5px var(--sidebar_boxshadow);
  padding: 10px 20px;
  margin-bottom: 20px;
}

.modal-form{
  padding: 10px 20px;
  margin-bottom: 20px;
}

.modal-add-button{
  display: flex;
  justify-content: center;
  align-items: center; 
  margin: 0;
  padding: 0;
  border-radius: 4px;
  height: 20px;
  width: 20px;
  background-color: white;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  transition: 
    background-color 0.3s ease-in-out, 
    box-shadow 0.3s ease-in-out,
    color 0.3s ease-in-out;
}

.modal-add-button i{
  font-size: 10px;
}

.modal-add-button.primary{
  color: #106544;
  border: 1px solid #106544;
}

.modal-add-button.secondary{
  color: #dc3545;
  border: 1px solid #dc3545;
}

.modal-add-button.primary:hover{
  background-color: #106544;
  color: white;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
}

.modal-add-button.secondary:hover{
  background-color: #dc3545;
  color: white;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
}

/* Menu */

.card-menu {
  box-sizing: border-box;
  background-color: var(card-menu_background);
  box-shadow: 0 0 5px var(--sidebar_boxshadow);
}

.card-menu ul {
  margin: 0 !important;
  padding: 0 !important;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

li {
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
  justify-content: left;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
  color: #555;
}

li:hover {
  color: #222;
}

.active-menu {
  color: #222;
}

span {
  font-size: 0.9em;
  text-align: center;
}

/* Text input style */
.input-textarea textarea {
  width: 100%;
  min-height: 35px;
  border: 1px solid #939393;
  border-radius: 5px;
  outline-color: transparent;
  outline-style: solid;
  outline-width: 1px;
  padding: 5px 10px;
  background-color: var(--textbox_background);
  color: var(--textbox_color);
}

.input-textarea textarea:focus {
  border: 1px solid #ACCF4F;
  transition: 0.3s ease-in-out;
  outline-color: #ACCF4F;
  outline-style: solid;
  outline-width: 1px;
}

/* Buttons */

.button-container {
  text-align: right;
  align-items: center;
  margin: 0;
  padding: 10px 0 10px 0 ;
}

.button-save {
  background: #a3c639;
  border-radius: 5px;
  padding: 0.5em 1em;
  color: var(--button-text_color);
  cursor: pointer;
  border: none;
  height: 2.5em;
  transition: 0.3s ease-in-out;
}

.button-save:hover {
  background: #96b445;
}


.button-create {
  background: #eaf3e2;
  border-radius: 5px;
  padding: 0.5em 1em;
  cursor: pointer;
  border: none;
  margin-bottom: 20px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

.button-delete {
  background: rgb(255, 65, 65);
  border-radius: 5px;
  padding: 0.5em 1em;
  color: var(--button-text_color);
  cursor: pointer;
  border: none;
}

.button-close {
  cursor: pointer;
  border: none;
  margin: 0;
  padding: 0;
  font-size: 50px;
  color: #A3C639;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 20px;
  margin-top: 7.5px;
  background-color: transparent;
  transition: 0.3s ease-in-out;
}

.isNotDisabled:hover {
  background-color: #8bab28 ;
  transition: 0.3s ease-in-out;
}

.button-close:hover,
.button-create:hover {
  background-color: #ddeece;
  transition: 0.3s ease-in-out;
}

button {
  margin: 0;
}

/* ID Checker */

.checker-result {
  position: absolute;
}

.checker-result .notvalid p {
  color: red;
  font-size: 11px;
}

.checker-result .valid p {
  color: green;
  font-size: 11px;
}

.no-data-cell {
  text-align: center;
}

.no-data-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.contents {
  margin-top: 20px;
}

/* Other Tables */
@media (max-width: 992px) {
  .pagination {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .card-container {
    margin-bottom: 75px !important;
  }
  .card-table {
    height: 100% !important;
    padding-bottom: 1% !important;
    margin-bottom: 0px !important;
    width: 1000px !important; 
    overflow-y: hidden;
  }
}

.card-container {
  padding: 0;
  margin: 0;
  position: relative;
  width: auto;
  overflow-x: auto;
}

.card-table {
  margin-bottom: 20px;
  box-sizing: border-box;
  background-color: var(--card-table_background);
  box-shadow: 0 0 5px var(--sidebar_boxshadow);
}

.card-table table thead tr th,
.card-table table tbody .row-theme-1 td,
.card-table table tbody .objective-rows td,
.card-table table tbody .outcome-rows td, .output-rows td,
.datatable table tbody .datatable-row td,
.indicator-data {
  padding: 10px;
  background-color: var(--indicator-data_background);
  border-bottom: 1px solid var(--indicator-data_border);
  transition: 0.3s ease-in-out;
  color: var(--indicator-data_color);
}

.card-table table thead tr th {
  background-color: #106544;
  color: white;
}

table .row-theme-1,
table .objective-rows,
table .outcome-rows, table .output-rows,
table .indicator-rows,
table .datatable-row {
  border-top: 0.5px solid #ece9e9;
}

table .row-theme-1:hover,
table .indicator-rows:hover,
.objective-rows:hover,
.outcome-rows:hover,
.output-rows:hover,
table .datatable-row:hover {
  background-color: #e9e6e6;
  transition: 0.3s ease-in-out;
}

.row-theme-1 .link-text,
.indicator-rows .link-text {
  text-decoration: none;
}

/* Link Texts */

.activity-code-txt {
  color: var(--activity-code-txt_color);
  font-size: 14px;
  text-decoration: none;
  font-weight: 500;
}

.activity-name-txt {
  color: var(--activity-name-txt_color);
  font-size: 14px;
}

/* Indicator Styles Color */

.objective-rows {
  border-left: 3px solid darkgreen;
  margin-left: 20px; /* Adjust the margin to change the level of indentation */
}

.outcome-rows {
  border-left: 3px solid green ;
  margin-left: 40px; /* Adjust the margin to change the level of indentation */
}

.output-rows {
  border-left: 3px solid yellowgreen;
  margin-left: 60px; /* Adjust the margin to change the level of indentation */
}

.indicator-rows {
  border-left: 3px solid greenyellow;
  margin-left: 80px; /* Adjust the margin to change the level of indentation */
}

/* Indicator Table */

.table-button {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 4px;
}

.progress-with-button{
  width: 100%;
  display: flex;
  gap: 4px;
  align-items: center;
}

.delete-button-container{
  margin-left: auto;
}

.small-button {
  width: 10px;
  height: 10px;
  padding: 0;
}

.objective-rows p,
.outcome-rows p, .output-rows p {
  margin: 0;
}

.indicator-rows .first-col {
  display: flex;
  text-overflow: ellipsis;
  overflow: hidden;
}

.overflow-hidden td{
  overflow: hidden;
}

.nowrap td{
  white-space: nowrap;
}

.indicator-front-box {
  min-width: 30px;
  border-right: 1px solid #ece9e9;
}

/* Indicator Page */

.indicator-details h4 .go-back {
  font-size: 14px;
  color: white;
  padding: 5px 10px;
  text-decoration: none;
  box-sizing: border-box;
  background-color: rgb(248, 89, 89);
  border-radius: 3px;
}

.indicator-details h4 .go-back:hover {
  background-color: red;
  box-shadow: 0 0 5px rgba(145, 142, 142, 0.5);
}

.contentprint {
  min-width: calc(100% - 20mm);
  min-height: calc(100% - 20mm);
  margin: 10mm;
}

.modal {
  z-index: 99999999;
}

/* Entry Table */

.add-entry {
  padding: 10px;
}

.add-entry button {
  border-radius: 5px;
  padding: 5px 10px;
  color: white;
  background-color: rgb(50, 50, 245);
  border: none;
}

.add-entry button:hover {
  background-color: blue;
}

.input-cell {
  border: none;
  outline: none;
  width: 100%;
}

.entry-table,
.total-entry-amount {
  border-collapse: collapse;
  width: 100%;
}

.entry-table th,
.entry-table td,
.total-entry-amount th {
  border: 1px solid gray;
  padding: 8px;
}

.entry-table th,
.total-entry-amount th {
  text-align: center;
  background-color: #106544;
  color: white;
}

.total-entry-amount {
  position: relative;
  margin-top: 50px;
}

/* Approval Section */

.approval-section,
.receive-section {
  display: flex;
  margin-top: 20px;
}

.approval-box {
  width: 20%;
  padding: 5px 5px 5px 0;
}

.received-box {
  width: 33.33%;
  padding: 5px 5px 5px 0;
}

.approval-box h3 {
  padding: 3px 0;
  border: 1px solid #106544;
  background-color: #106544;
  color: white;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}

.approval-box .signature-box,
.received-box .signature-box {
  border: 1px solid gray;
  width: 100%;
  height: 130px;
}

.approval-box .signature-box span {
  text-align: center;
  align-items: center;
  margin: auto;
}

.approval-box .person-approval,
.received-box .person-approval {
  width: 100%;
  height: auto;
  border: 1px solid gray;
}

.approval-box .person-approval h4,
.approval-box .person-approval select,
.received-box .person-approval h4 {
  padding: 5px;
  margin: 0;
  font-size: 14px;
  text-align: center;
  align-items: center;
  width: 100%;
}

.approval-box .person-approval select {
  outline: none;
}

.nyli {
  text-align: center;
}

.balance-error {
  position: absolute;
  text-align: right;
  color: rgb(253, 82, 82);
}

/* Import component */
.import-component{
  padding: 10px;
  text-align: end;
}

.import-component input{
  padding: 5px;
  font-size: 14px;
}

.import-component button{
  padding: 5px;
  background-color: gray;
  color: black;
}

/* button icon */

.button-label {
  padding-right: 8px; /* Adjust the padding value as per your preference */
}

.add-btn {
  margin-bottom: 10px;
  margin-left: 10px; /* Adjust the margin value as per your preference */
  height: 2.5em;
}

/* progress bar indicators */

.progress-indicator p{
  margin: 0;
  color: gray;
  font-size: 12px;
}

.no-padding{
  padding-top: 0;
  padding-bottom: 0;
}

.empty-table-data {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}


/* Nav dropdown menu */

.ellipis-toggle{
  padding: 20px;
}

.dropdown-profile{
  position: relative;
  display: inline-block;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.dropdown-content-menu ul{
  display: block;
  margin: 0;
}

.dropdown-content-menu ul {
  position: absolute;
  padding: 0;
  right: 0;
  background-color: var(--sidebar_background);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content-menu ul li{
  padding: 7px 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.dropdown-content-menu ul li i{
  margin-right: 10px;
}

.dropdown-content-menu ul li:hover{
  background-color: #e8fad7;
}

/* Delete Modal */

.delete-modal{
  text-align: center;
}

.header-modal-title{
  font-size: 14px;
  color: var(--label_color);
}

.content-modal{
  font-size: 12px;
  color: gray;
}


@media (max-width: 992px) {
  .create-forms .row .col-12 {
    padding: 0;
  }
}

@media (max-width: 768px) {
  .card-table .show-page {
    width: 100%;
    margin-bottom: 10px;
  }
  .card-table .search-btn {
    width: 100%;
  }
  .card-table .show-page-number {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card-table .row-count {
    margin-left: 5px;
    
  }
  .card-table .show-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
}

@media (max-width: 576px) {
  .checker-result {
    position: absolute !important;
    top: 196.5px !important;
    left: 125px !important;
  }
}
@media (max-width: 768px) {
  .create-forms .row:nth-child(2) {
    margin-top: 0 !important;
  }
}

.create-forms .row {
  padding: 0;
  margin: 0;
}

.create-forms .row > .col-md-2:first-child {
  padding-left: 0;
}

.create-forms .row > .col-md-2:last-child {
  padding-right: 0;
}

.create-forms .row > .col-md-3:first-child {
  padding-left: 0;
}

.create-forms .row > .col-md-3:last-child {
  padding-right: 0;
}

.create-forms .row > .col-md-4:first-child {
  padding-left: 0;
}

.create-forms .row > .col-md-4:last-child {
  padding-right: 0;
}

.create-forms .row > .col-md-6:first-child {
  padding-left: 0;
}

.create-forms .row > .col-md-6:last-child {
  padding-right: 0;
}

.create-forms .row > .col-md-8:first-child {
  padding-left: 0;
}

.create-forms .row > .col-md-8:last-child {
  padding-right: 0;
}


.create-forms .row > .col-md-12:first-child {
  padding-left: 0;
}

.create-forms .row > .col-md-12:last-child {
  padding-right: 0;
}

.create-forms .row:first-child {
  margin-top: 10px;
  padding-top: 0;
}

.create-forms .row:nth-child(2) {
  margin-top: 10px;
}

.create-forms .row:nth-child(3) {
  margin-top: 10px;
}

.create-forms .row:nth-child(4) {
  margin-top: 10px;
}

.input-text {
  width: 100%;
  height: 2.5em;
  padding: 0 10px;
  border: 1px solid var(--input-text_border);
  border-radius: 5px;
  outline-color: transparent;
  outline-style: solid;
  outline-width: 1px;
  background-color: var(--input-text_background);
  color: var(--input-text_color)
}

.input-text:focus {
  border: 1px solid #ACCF4F;
  transition: 0.3s ease-in-out;
  outline-color: #ACCF4F;
  outline-style: solid;
  outline-width: 1px;
}

.input-text-table {
  width: 55%;
  height: 2.5em;
  padding: 0 10px;
  border: 1px solid #939393;
  border-radius: 5px;
  outline-color: transparent;
  outline-style: solid;
  outline-width: 1px;
  background-color: var(--textbox_background);
  color: var(--label_color);
}

.input-text-table:focus {
  border: 1px solid #ACCF4F;
  transition: 0.3s ease-in-out;
  outline-color: #ACCF4F;
  outline-style: solid;
  outline-width: 1px;
}

.show-page {
  height: 2.5em;
}

.show-page-number {
  color: var(--show-page-number_color);
}

.datatable-row {
  height: 2.5em;
}

.pagination {
  align-items: center;
  justify-content: center;
}

.pagination span {
  padding: 0px 10px ;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.unit-space {
  margin: 0px 3.5px;
}

/*navbar*/
.navbar {
  background-color: #2E6347;
}

.user-name {
  color: white;
}

.dropdown-profile .fa-ellipsis-v {
  color: white;
}

.profile-img {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile-row {
  padding: 5.5px 0;
}

.profile-info {
  background-color: #ACCF4F;
  color: var(--button-text_color);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5em;
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  background-color: white;
  color: #2E6347;
  color: #2E6347;
  border: 2px solid #2E6347;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5em;
  cursor: pointer;
}

.profile-info p {
  margin: 0;
  padding: 0;
}

.profile-info-cont {
  height: 2.5em;
  border-radius: 5px;
  display: flex;
  align-items: center;
  color: var(--label_color);
}

.profile-info-cont p {
  margin: 0;
  padding: 0 10px;
}

/*modal*/
.modal-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
  color: var(--label_color);
}

.modal-header h4 {
  color: var(--modal-header_color);
  font-weight: 600;
  padding: 0;
  margin: 0;
}

.chart-label {
  color: var(--label_color);
}

.modal-content {
  background-color: var(--sidebar_background) !important;
}